<%= form_for @song  do |f| %>

  <% if @song.artist %>
    <h2>for <%= @song.artist.name %></h2>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
<%= artist_select(@song) %><br>
  <br />

  <%= f.submit %>
<% end %>
